<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>ARTICLE_VIEW</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>AUTOMATIC_READING_MODE</string>
			<key>Key</key>
			<string>autoActivateReader</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>IMAGE_LOADING</string>
			<key>Key</key>
			<string>IMAGE_LOADING</string>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Values</key>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
			</array>
			<key>Titles</key>
			<array>
				<string>ALWAYS</string>
				<string>ON_WIFI</string>
				<string>NEVER</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>TITLE_LINES</string>
			<key>Key</key>
			<string>TITLE_LINES</string>
			<key>DefaultValue</key>
			<integer>2</integer>
			<key>Values</key>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
			</array>
			<key>Titles</key>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>PREVIEW_LINES</string>
			<key>Key</key>
			<string>PREVIEW_LINES</string>
			<key>DefaultValue</key>
			<integer>2</integer>
			<key>Values</key>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>0</string>
			</array>
			<key>Titles</key>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>NONE</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>FEED</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>FEED_VIEW</string>
			<key>Key</key>
			<string>feedsView</string>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Values</key>
			<array>
				<string>1</string>
				<string>2</string>
			</array>
			<key>Titles</key>
			<array>
				<string>STANDARD</string>
				<string>LIST</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>ARTICLE</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>KEEP_LAST_READ</string>
			<key>Key</key>
			<string>KEEP_LAST_READ</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>ARTICLES_AFTER_DAYS</string>
			<key>Key</key>
			<string>DELETE_ARTICLE_AFTER_DAYS</string>
			<key>DefaultValue</key>
			<integer>2</integer>
			<key>Values</key>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
			</array>
			<key>Titles</key>
			<array>
				<string>ONE_DAY</string>
				<string>TWO_DAYS</string>
				<string>THREE_DAYS</string>
				<string>FOUR_DAYS</string>
				<string>FIVE_DAYS</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>CONTACT</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string></string>
			<key>IASKMailComposeBccRecipents</key>
			<array/>
			<key>IASKMailComposeBody</key>
			<string></string>
			<key>IASKMailComposeBodyIsHTML</key>
			<string>NO</string>
			<key>IASKMailComposeCcRecipents</key>
			<array/>
			<key>IASKMailComposeSubject</key>
			<string>Contact</string>
			<key>IASKMailComposeToRecipents</key>
			<array>
				<string>dev@fl-herzog.de</string>
			</array>
			<key>Title</key>
			<string>E-Mail</string>
			<key>Type</key>
			<string>IASKMailComposeSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
